.navigation {
  background: white;
  margin: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: fit-content;
  height: calc(100vh - 4rem);
  box-sizing: border-box;
}

.navigation .logo {
  display: flex;
  justify-content: center;
  font-family: Kreon;
  font-size: 2rem;
  user-select: none;
}

.navigation .logo img {
  width: 48px;
  height: 40px;
  padding-right: 1rem;
}

.navigation .logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.navigation .links {
  margin-top: 2rem;
}

.navigation .link-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

.navigation .link-container.active,
.navigation .link-container:hover {
  background: #D9D9D9;
}

.navigation .link-container .link {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  width: 100%;
}

.navigation .link-container .link .icon {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.navigation .link-container .link .icon.arrow {
  font-size: 2rem;
}

.navigation .link-container .user-email {
  font-size: 1.1rem;
  color: #333;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

.navigation .link-container .user-email .icon {
  margin: 0 1.5rem 0 0.5rem;
}

.navigation .user-panel {
  margin-top: auto;
  position: relative;
}

.navigation .user-panel .user-header {
  background: #D5D5D5;
  padding: 0.5rem 1rem;
  padding-top: 0;
  border-radius: 0.5rem;
  min-height: 2rem;
}

.navigation .user-panel .user-header .icon {
  font-size: 1.5rem;
  transition: transform 0.3s;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  color: #333;
}

.navigation .user-panel .user-header .icon.open {
  transform: rotate(180deg);
}

.navigation .user-header p {
  color: #333;
  margin: 0;
}

.navigation .user-panel .user-header .name {
  font-size: 1.7rem;
}

.navigation .user-panel .user-header .email {
  font-size: 1.2rem;
}

.navigation .user-panel .logout {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.navigation .user-panel .user-header .accordion-content .form {
  display: flex;
  width: fit-content;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.navigation .user-panel .user-header .accordion-content .form-group {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  background: white;
  border-radius: 0.5rem;
  position: relative;
}

.navigation .user-panel .user-header .accordion-content .form-group .icon {
  top: 50%;
  right: 0.7rem;
  transform: translateY(-50%);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .user-panel .user-header .accordion-content input,
.navigation .user-panel .user-header .accordion-content button[type="submit"] {
  outline: none;
  border: none;
  color: #333;  
  border-radius: 0.5rem;  
  height: 2rem;
  font-size: 1rem;
}

.navigation .user-panel .user-header .accordion-content button[type="submit"] {
  margin-bottom: 1rem;
  background: #fcffd9;
}

.navigation .user-panel .user-header .accordion-content input {
  padding: 0;
  width: calc(100% - 2.8rem);
}

.navigation .user-panel .user-header .accordion-content input::placeholder {
  font-size: 1rem;
}

.navigation .user-panel .user-header .accordion-content .error {
  padding: 0.5rem;
  padding-top: 0;
}

.navigation .user-panel .logout {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  background: #FF8585;
}

.navigation .user-panel .logout:hover {
  background: #fd5656;
}

.navigation .user-panel .logout .icon {
  height: 2rem;
  width: 2rem;
  color: white;
}

.navigation .user-panel .logout span {
  font-size: 1.5rem;
  color: white;
  user-select: none;
  padding-left: 0.5rem;
  width: 30%;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}